@import '../App.scss';

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  border-bottom: solid 4px theme-color('secondary');
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow: none;
}

.form-control:focus,.form-control:active:focus,.form-control.active:focus,
.form-control.focus,.form-control:active.focus,.form-control.active.focus {
    border-color: inherit;
    outline: none;
    box-shadow: none;
}
