// override bootstrap theme colors before importing bootstrap
$theme-colors: (
  primary: #84cdca,
  secondary: #e8a87c,
  success: #41b3a3,
  danger: #e27d60
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import './spinner';
@import './unselectable';
