// Loading spinner
.spinner {
  margin: 100px auto 0;
  text-align: center;
  width: 70px;

  > div {
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    background-color: theme-color('secondary');
    border-radius: 100%;
    display: inline-block;
    height: 18px;
    width: 18px;
  }

  .bounce1 {
    animation-delay: -.32s;
  }

  .bounce2 {
    animation-delay: -.16s;
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
